{% load static %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Recipe</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Times Viewed</th>
        </tr>
    </thead>
    <tbody>


        {% for recipe in full_recipe_list %}
        <tr>
            <td><a href="recipe/{{ recipe.recipeKey }} ">{{ recipe.recipeName }}</a></td>


            <!-- Add in possible NER ingredients -->
        </tr>
        {% empty %}
        <li>Error loading non-mock recipes.</li>
        {% endfor %}

    </tbody>
</table>

