<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CartBuilder{% endblock %}</title>
</head>
<body>
<header>
    <h1>CartBuilder</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'recipes' %}">Recipes</a></li>
            <li><a href="{% url 'ingredients' %}">Ingredients</a></li>
            <li><a href="{% url 'allergies' %}">Allergies</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2023 CartBuilder</p>
</footer>
</body>
</html>
