{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">


            <!-- Header-->

            {% block head %}{% include "./components/home_page/food_for_thought_card.html" %}{% endblock %}

            <!-- Features section-->
           
            {% block section %}{% include "./components/home_page/features_section.html" %}{% endblock %}


            <!-- Reviews section, possible random pull from a mock reviews dataset. Or auto-carousel loop-->

            {% block reviews %}{% include "./components/home_page/reviews_card.html" %}{% endblock %}

            <!-- Top recipes section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Top Recipes</h2>
                                <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                       
                        <!-- Loop through and pull top three recipes, currently hard coded -->

                        {% include "./components/home_page/top_recipe_card.html" %}
                        {% include "./components/home_page/top_recipe_card.html" %}
                        {% include "./components/home_page/top_recipe_card.html" %}


                    <!-- Newsletter component, default -->

                        {% include "./components/home_page/newsletter_signup_card.html" %}

                </div>
            </section>
        </main>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>





{% endblock %}
