{% extends 'base.html' %}

{% block content %}
    
<div class="container">

  <h2>At A Glance: </h2>
  <div class="d-flex flex-row mb-3">
    <div class="p-2">{% include "./components/recipe_card.html" %}</div>
    <div class="p-2">{% include "./components/recipe_card.html" %}</div>
    <div class="p-2">{% include "./components/recipe_card.html" %}</div>
  </div>





    <ul>
        {% for recipe in popular_recipes %}
            <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.recipe_name }}</a></li>
        {% empty %}
            <li>No popular recipes found.</li>
        {% endfor %}
    </ul>
</div>


{% endblock %}
