{% extends 'base.html' %}

{% block content %}
    <h2>Popular Recipes</h2>
    <ul>
        {% for recipe in popular_recipes %}
            <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.recipe_name }}</a></li>
        {% empty %}
            <li>No popular recipes found.</li>
        {% endfor %}
    </ul>

   <form method="get" action="{% url 'search_by_recipe' %}">
       <input type="text" name="query" placeholder="Search for a recipe">
       <button type="submit">Search</button>
   </form>

{% endblock %}
