{% extends 'base.html' %}

{% block content %}
    <h1>Search results for "{{ query }}"</h1>
    
    
    <div class="table-responsive" style="max-height: 50vh">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col">Recipe</th>
                    <th scope="col">Ingredients</th>
                </tr>
            </thead>
            <tbody>
    
    
                {% for recipe in searchResults %}
                <tr>
                    <td><a href="recipe/{{ recipe.recipeKey }} ">{{ recipe.recipeTitle }}</a></td>
                    <td>{{ recipe.recipeNER }}</td>

                </tr>
                {% empty %}
                <li>Error loading non-mock recipes.</li>
                {% endfor %}
    
            </tbody>
        </table>
    
    </div>


{% endblock %}