<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Recipe Box</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">


                    <form class="d-flex" action="{% url 'search_by_ingredient' %}">
                        <input class="form-control me-2" type="text" name="query" placeholder="Find your meal!"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <br>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'registration' %}">Register</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                        </li>

                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" onclick="focusSearchBox('sbr')"
                        >Search By Recipe</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" onclick="focusSearchBox('sbi')"
                        >Search By Ingredient</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'add_recipe' %}">Add A Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'recipes' %}">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Other
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link active" aria-current="page"
                                    href="{% url 'ingredients' %}">Ingredients</a></li>
                            <li><a class="nav-link active" aria-current="page"
                                    href="{% url 'allergies' %}">Allergies</a></li>

                        </ul>
                    </li> -->
                </ul>

                <br>
                <br>





            </div>
        </div>
    </div>
</nav>

<script>
function focusSearchBox(id) {
    const element = document.getElementById(id);
    if (element) {
        const input = element.querySelector('input');
        if (input) {
            input.focus();
            const yOffset = -100; // Adjust this value to change the offset
            const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
            window.scrollTo({ top: y, behavior: 'smooth' });
        }
    }
}
</script>