<!-- EXPECTED TO BE PUBLIC FACING -->


<div class="card mb-4">
    <div class="card-body text-center">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1.webp" alt="avatar"
        class="rounded-circle img-fluid" style="width: 150px;">
      <h5 class="my-3">{{ user.username }}</h5>
      <p class="text-muted mb-1">A super awesome person</p>
      <p class="text-muted mb-4">:? profile_city</p>
      <div class="d-flex justify-content-center mb-2">
        <button type="button" class="btn btn-primary">Follow</button>
      </div>
    </div>
  </div>