{% load static %}

<style>
    .card-img-top-fixed {
        height: 200px;
        object-fit: cover;
    }
</style>

{% for recipe in latest_recipes %}
<div class="col-lg-4 mb-5">
    <div class="card h-100 shadow border-0">
        {% if recipe.recipeImage %}
            <img class="card-img-top card-img-top-fixed" src="{{ recipe.recipeImage.url }}" alt="Recipe image" />
        {% else %}
            <img class="card-img-top card-img-top-fixed"src="{% static "/assets/other/food_plate.jpg" %}" alt="..." />
        {% endif %}
        <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Most Recent</div>
            <a class="text-decoration-none link-dark stretched-link" href="{% url 'recipe' requestedRecipeKey=recipe.recipeKey %}"><h5 class="card-title mb-3">{{ recipe.recipeTitle }}</h5></a>
            <p class="card-text mb-0">
                <strong>Ingredients:</strong><br>
                {{ recipe.recipeIngredients|truncatewords:30 }}
            </p>
        </div>
        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="small">
                        <strong>Allergies:</strong>
                        <div> {{ recipe.recipeNER }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}